h1,
h2,
h3,
h4.h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
// .product-list {
//   &::-webkit-scrollbar {
//     background: transparent;
//     width: 10px;
//     padding: 0 4px;
//   }
//   &::-webkit-scrollbar-thumb {
//     background-color: #fafafa;
//     border-radius: 10px;
//     width: 4px;
//     &:hover {
//     }
//   }
// }
table {
}
